# Configuração do Banco de Dados PostgreSQL
DB_NAME=filmes_bd
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_HOST=localhost
DB_PORT=5432

# Configuração da API do The Movie Database (TMDB)
TMDB_API=seu_api_key_do_tmdb_aqui
TMDB_TOKEN=seu_access_token_do_tmdb_aqui

# Porta do Servidor Express
PORT=3000

#o que mais precisar
